:root {
  --container-width: 640px;
  --icons-right-margin: 10px;
}

body {
  background-color: rgb(85, 84, 84);
}

.container {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container .logo {
  font-family: 'Exo', sans-serif;
  font-size: 90px;
  color: rgba(185,245,255,1);
  width: var(--container-width);
}

.container .social-icons {
  display: flex;
  width: var(--container-width);
}

.github, .linkedin, .twitter {
  margin-right: var(--icons-right-margin);
}
